HSM_CONFIG='{"library":"/usr/local/lib/softhsm/libsofthsm2.so","slot": 0,"name":"MyToken1","readWrite":true,"pin":"12345"}'
NAB_ID_FILEPATH='./config/identity.json'
SME_CONFIG='{"url":"ws://host.docker.internal:3210/","smePublicKey":"MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEXg8dSsr93TMctKPiG3yRZ72KTJihrzSTzE/vLk7m1tpwmDWrcyTTxv+DDulrBMH2hnay+RkT/ojQLbpkMkLRCQ==","keyAlgorithm":{"name":"ECDH","namedCurve":"P-256"},"encryptionAlgorithm":{"name":"AES-GCM","length":256},"challengeEncoding":"base64"}'
